{% extends 'layout.html.twig' %}
{% block contenidoExt %}
<div
    {% if usuario %}

    <h1>Coleccion de {{ usuario.nickname }}</h1>

    {% endif %}
<table class="tabla_cartas table-responsive-lg panel_fondo_transparente">

    {% set raiz =  'recursos/cardsImages/' %}

<tr class="fila_tabla primera_fila_tabla">
    {%  for carta in cards %}
        {% if usuario %}
            {% set imageRoute = carta.typeCard.imageRoute %}
        {% else %}
            {% set imageRoute = carta.imageRoute %}
        {% endif %}
    {% if loop.index == 6 or loop.index == 11 or loop.index == 16 or loop.index == 21%}
</tr>
    <tr class="fila_tabla {{ loop.index}}" >
        {% endif %}


            <td class=""><a href="#">
                <img class="img_carta_lista" style="height: 140px; width: 135px;" src="{{ asset(raiz~imageRoute~'.jpg') }}" alt="{% if usuario == null %}{{ carta.name }}{% endif %}">
                </a>
            </td>

    {% endfor %}
</table>
</div>
{% endblock %}