{% extends './layout.html.twig' %}

{% block content %}





    <div id="cont_general">

        <div class="carta-cont">
            {% for card in cards %}
                <div class="carta-ic-marco">
                    <div class="carta-icon"  style="background:url({{ asset('recursos/cardsImages/adonis.jpg') }}">
                        <div class="carta-ic-cover"></div>
                    </div>
                </div>


            {% endfor %}

        </div>
    </div>







{% endblock %}