{% extends 'layout.html.twig' %}

{% block content %}

<div class="grid_cartas">

    {% if app.request.get('_route') ends with 'coleccion' %}
        {% set cartas = app.user.cards %}
    {% else %}
        {% set cartas = cards %}
    {% endif %}
    {% set raiz =  'recursos/cardsImages/' %}
    <div class="row primera_fila">



        {%  for carta in cartas %}
        {% if loop.index == 6 or loop.index == 11 or loop.index == 16 or loop.index == 21%}
    </div>
    <div class="row {{ loop.index}}">
        {% endif %}
        <div class="carta-ic-marco  columna">
            <div class="carta-icon " style="background:url({{ asset(raiz~ carta.imageRoute~'.jpg') }});background-repeat: no-repeat; background-size:200%; background-position-y: -2.5em;background-position-x:-3em;">
                <div class="carta-ic-cover"></div>
            </div>
        </div>
        {% endfor %}
    </div>


    {% endblock %}
