{% extends 'layout.html.twig' %}

{% block content %}
    <div id="menu_juego" class="panel_fondo_transparente">
        <h2>Prep치rate para el combate</h2>
        {% if decks is empty %}
            <p>Necesitas crear al menos un escuadr칩n para mandarlo al ataque</p>
            <a href="{{ path('deck_nuevo', {'id': usuario.id}) }}">Crear Escuadr칩n</a>
        {% else %}
        <form action="{{ path('game_prepara', {'id':usuario.id}) }}" method="post">
            <label for="deck_select">Escoge tu escuadr칩n:</label>
            <select name="deck_select">
                {% for deck in usuario.decks %}
                    <option value="{{ deck.id }}">{{ deck.deckName }}</option>
                {% endfor %}
            </select>
           <p><button type="submit" name="ok" value="buscar_oponente">Buscar Oponente Aleatorio</button>
           </p>
        </form>
        {% endif %}
    </div>
{% endblock %}