{% extends 'juego/resultado.html.twig' %}


{% block resultado %}
<h5 style="color:lime">VICTORIA</h5>
    <p>Has ganado 10 <span class="golden"><i class="fas fa-dollar-sign -dollar-sign"></i> Créditos</span></p>
    <p>Has ganado 5<span class="golden"> <i class="fas -crown fa-crown"></i> Reputación</span></p>

{% endblock %}

