{% extends 'base.html.twig' %}

{% block body %}
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="{{ path('miMain') }}"> CyberTrap TCG</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Mostrar secciones">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            {% set ruta = app.request.get('_route') %}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item{% if ruta == "portada" %} active{% endif %}">
                    <a class="nav-link" href="{{ path('portada') }}"><i class="fas fa-vihara"></i> Portada <span class="sr-only">(actual)</span></a>
                </li>
                <li class="nav-item{% if ruta starts with "user_" %} active{% endif %}">
                    <a class="nav-link" href="{{ path('user_list') }}"><i class="fas fa-drupal"></i>CyberLords</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-vr-cardboard"></i>Mercado</a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item {% if ruta starts with "card_" %} active{% endif %}">
                    <a class="nav-link" href="{{ path('card_list') }}">Cartas</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
{% endblock %}