{% extends 'layout.html.twig' %}
{% block links %}

    <script src="{{ asset('fontawesome.js') }}"></script>
    <script src="{{ asset('adobe.js') }}"></script>
    <script src="{{ asset('jQuery3.1.js') }}"></script>
    <script src="{{ asset('main.js') }}"></script>
{% endblock %}
{% block content %}
    <div id="wrapper">
        <div id="control">
            <div class="control_inner">
                <div class="control-ic-frame">
                    <div class="control-icon">
                        <div class="control-ic-cover"></div>
                    </div>
                </div>
                <h1>x1234567890x</h1>
                <div class="control-links">
                    <div class="control-logged">
                        <a href="#"><span><i class="far fa-bell fa-fw"></i></span> 5 new alert(s)</a>
                        <a href="#"><span><i class="far fa-credit-card fa-fw"></i></span> 890 créditos</a>
                    </div>
                    <div class="control-guest">
                        <a href="#"><span><i class="far fa-hourglass fa-fw"></i></span> Login</a>
                        <a href="#"><span><i class="far fa-plus-square fa-fw"></i></span> Registro</a>
                    </div>

                    <div class="control-staff">
                        <a href="#"><span><i class="far fa-compass fa-fw"></i></span> admin cp</a>
                        <a href="#"><span><i class="far fa-map fa-fw"></i></span> mod cp</a>
                    </div>
                </div>

                <!--          <div class="control-logged">SUBACCOUNTS</div>-->

            </div>
        </div>
        <!--todo el bloque principal-->
        <div id="innerwrapper">

            <div id="gestaltrp">
                <!-- barra de navegación-->
                <div class="synth">
                    <a href="#">INICIO</a>
                    <a href="#">PERSONAJES</a>
                    <a href="#">REGLAS</a>
                    <!--
                                <a href="#">lexicon</a>
                                <a href="#">face claim</a>
                                <a href="#">groups</a>
                                <a href="#">directory</a>
                                <a href="#">faq</a>
                                <a href="#">application</a>
                                <a href="#">starter guide</a>
                    -->
                </div>

                <!-- banner del JUEGO-->
                <div id="cyberpunk">
                    <div id="cont_title">
                        <!--        //el titulo es lo q tengo q cambiar por mis neones-->
                        <div id="cont_title_inner" >
                            <h1>Cyber Shogun</h1>
                            UNA DISTOPÍA CYBERPUNK
                        </div>
                    </div>
                </div>
                <!--parte de la historia, loree...-->
                <div id="replicant">

                    <div class="synopsis">
                        <p><b>Welcome to CyberShogun, 2384 A.D.</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque et blandit justo, at ultricies arcu. Fusce a aliquet orci. Proin lobortis mauris sit amet egestas accumsan. Nulla facilisi. Nullam a urna
                            vulputate arcu semper gravida. Nam egestas nibh lorem. Maecenas quis placerat nisi, quis elementum felis. Phasellus mattis consectetur dui, sit amet laoreet neque consequat eu. Maecenas bibendum neque in purus sollicitudin mollis.</p>
                    </div>


                </div>
                <!--    parte derecha del todo -->
                <div id="automata">

                    <div class="staff">

                        <div class="staff-ic-frame">
                            <div class="staff-icon" title="staff 01" style="background:url(https://image.ibb.co/nhvNT7/shinya14_zpsf76cad9f.png); background-size:45px;">
                                雨
                            </div>
                        </div>

                        <div class="staff-ic-frame">
                            <div class="staff-icon" title="staff 02" style="background:url(https://image.ibb.co/hXGZQn/x7lNN.png); background-size:45px;">
                                塔
                            </div>
                        </div>

                        <div class="staff-ic-frame">
                            <div class="staff-icon" title="staff 03" style="background-size:45px;">
                            松
                        </div>
                    </div>

                    <div class="staff-ic-frame">
                        <div class="staff-icon" title="staff 04" style="background:url(https://image.ibb.co/dM95gS/Dhgaq.png); background-size:45px;">
                            無
                        </div>
                    </div>

                </div>

                <div class="weather">
                    <div class="weather-screen">
                        <b>梅雨</b>
                    </div>

                    <div class="weather-tag">
                        CLIMA HOY: <br><b>Tormentoso</b>
                    </div>
                </div>

                <div id="cont_updates">
                    <div id="cont_updates_inner">
                        <ul>
                            <li><b>BETA TESTING</b> Fusce sagittis posuere odio, vel porta eros suscipit et. In tellus diam, elementum nec urna id.</li>
                            <li><b>STARTER PACK</b> Fusce sagittis posuere odio, vel porta eros suscipit et. In tellus diam, elementum nec urna id.</li>
                            <li><b>SYSTEM UPDATES</b> Fusce sagittis posuere odio, vel porta eros suscipit et. In tellus diam, elementum nec urna id.</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

    </div>
    </div>


{% endblock %}