{% extends 'layout.html.twig' %}
{% block content %}

        <div class=banner>

                <p class="neon_portada neon--blue"> <a href="{{ path('usuario_nuevo') }}"></a>CyberTrap TCG</p>
                <p class="neon_portada neon--pink"> <a href="{{ path('usuario_nuevo') }}"></a>A game by Rubén Morcillo</p>

        </div>


{% endblock %}