{% extends 'layout.html.twig' %}
{% block content %}
{% block controlUsuario %}
{% if usuario %}
    {% set raiz =  'recursos/cardsImages/' %}
    <div id="menu_jugador" >
       <div id="div_coleccion" class="menu_jugador_opcion panel_fondo_transparente">
            <a href="{{ path('cartas_lista_user',{'id':usuario.id}) }}">Coleccion</a>
       </div>
       <div id="div_coleccion" class="menu_jugador_opcion panel_fondo_transparente">
            <a href="{{ path('game_prepara', {'id':usuario.id}) }}">Jugar</a>
       </div>
       <div id="div_tienda" class="menu_jugador_opcion panel_fondo_transparente">
            <a href="{{ path('tienda', {'id': usuario.id}) }}">Tienda</a>
       </div>
    </div>
{% endif %}
{% endblock %}
{% block mainMenu %}

{% endblock %}

{% block listaCartas %}{% endblock %}
{% endblock %}
