{% extends 'layout.html.twig' %}
{% block content %}
{% block controlUsuario %}
{% if usuario %}
    {% set raiz =  'recursos/cardsImages/' %}
    <div id="menu_jugador">
       <div id="cyberpunk" /*class="menu_jugador_opcion"*/>
           <div id="cont_title">
               <div id="cont_title_inner">
           <a href="{{ path('cartas_lista_user',{'id':usuario.id}) }}">Coleccion</a>
               </div>
           </div>
       </div>
       <div id="automata" /*class="menu_jugador_opcion"*/>
            <div id="cont_title">
                <div id="cont_title_inner">
                    <a href="#">Jugar</a>
                </div>
            </div>
       </div>
       <div id="replicant" /*class="menu_jugador_opcion"*/>
            <div id="cont_title">
                <div id="cont_title_inner" >
                     <a href="{{ path('carta_comprar_una', {'id': usuario.id}) }}">Tienda</a>
                </div>
            </div>
       </div>
    </div>
{% endif %}
{% endblock %}
{% block mainMenu %}

{% endblock %}

{% block listaCartas %}{% endblock %}
{% endblock %}
