{% extends 'layout.html.twig' %}

{% block content %}
    <h1>CyberLords</h1>
    <table class="table">
        <thead>
        <tr>
            <th>Id.</th>
            <th>NickName</th>
            <th>Créditos</th>
            <th>¿Es admin?</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.nickname }}</td>
                <td>{{ user.credits }}</td>
                <td>{% if user.admin %}Sí{% else %}No{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}