{% extends 'layout.html.twig' %}

{% block content %}
   <h1>Editar Perfil</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-outline-primary"><i class="fas fa-check"></i>Guardar cambios</button>
    <a href="{{ path('cambio_clave') }}" class="btn btn-info"><i class="fas fa-lock">Cambiar contraseña</i></a>
    {{ form_end(form) }}

{% endblock %}