{% extends 'coleccion/main.html.twig' %}

{% block content %}

{% set user = app.user %}
       {% if not es_nueva %}
           <h1>Editar escuadrón</h1>
       {% else %}
           <h1>Nuevo escuadrón</h1>
       {% endif %}

       {{ form_start(form) }}
       {{ form_widget(form) }}
       <a href="{{ path('coleccion', {'id':app.user.id}) }}" class="btn btn-info"><i class="fas fa-arrow-left"></i> Volver al listado</a>
       <button type="submit" class="btn btn-primary"><i class="fas fa-check"></i> Guardar cambios</button>
       {% if not es_nueva %}<a href="#" class="btn btn-danger"><i class="fas fa-trash"></i> No funciona</a>{% endif %}


       {{ form_end(form) }}

{% endblock %}