{% extends 'layout.html.twig' %}

{% block content %}
    <p><button class="fas input-group-append">1x carta</button></p>
    <p><button class="fas -business-time">3x carta</button></p>
    <p><button >5x carta</button></p>
{% endblock %}