{% extends 'layout.html.twig' %}

{% block content %}

    <div id="menu_tienda">
        <h1>Mercado Negro  <a href="{{ path('cartas_lista_user',{'id':usuario.id}) }}">Volver a la colección</a></h1>
        <div class="elemento_menu_tienda panel_fondo_transparente">

                <p>10 $</p>
                <p><a href="{{ path('tienda_carta_comprar_una', {'id': usuario.id}) }}">Adquirir carta </a></p>


        </div>
        <div class="elemento_menu_tienda panel_fondo_transparente">

                    <p><button type="submit" name="one" class="btn btn-outline-primary">Adquirir pack</button></p>

        </div>
    </div>

{% endblock %}