{% extends 'layout.html.twig' %}

{% block content %}
<h1>Mercado</h1>
    <div class="menu_wrapper">
        <div class=menu_interfaz>
            <ul>
                <li><a href="#">Cartas</a>
                    <ul>
                        <li>
                            <a href="{{ path('tienda_carta_comprar_una', {'id': usuario.id}) }}"><h3>1 Carta <span class="golden">10 $</span></h3></a>
                        </li>

                        <li>
                            <a href="{{ path('tienda_carta_comprar_una', {'id': usuario.id}) }}"><h3>1 Carta <span class="golden">10 $</span></h3></a>
                        </li>

                    </ul>
                </li>
                <li><a href="#">Packs</a>
                    <ul>
                        <li>
                            <a href="#"><h3>Sin productos </h3></a>
                        </li>



                    </ul></li>
                <li><a href="{{ path('cartas_lista_user',{'id':usuario.id}) }}">Colección</a></li>

            </ul>
        </div>
    </div>

{% endblock %}