{% extends 'layout.html.twig' %}

{% block content %}
<div id="fondo_back" class="panel_fondo_transparente">
{% set user = app.user %}
       {% if not es_nueva %}
           <h1>Editar escuadrón</h1>
       {% else %}
           <h1>Nuevo escuadrón</h1>
       {% endif %}

       {{ form_start(form) }}
       {{ form_widget(form) }}
       <button type="submit" class="btn btn-primary"><i class="fas fa-check"></i> Guardar cambios</button>
       {% if not es_nueva %}<a href="{{ path('deck_eliminar', {'deck': deck.id, 'id': usuario.id}) }}" class="btn btn-danger"><i class="fas fa-trash"></i>Borrar</a>{% endif %}

       {{ form_end(form) }}
</div>
{% endblock %}