{% extends 'layout.html.twig' %}

{% block content %}
    {{ parent() }}
    <div class="alert alert-danger">
        <p>¿Estás seguro de que quieres borrar el escuadrón?</p>
    </div>

    <form method="post">
        <a href="{{ path('deck_editar', {'id':usuario.id, 'deck':deck.id}) }}"></a>
        <button type="submit" class="btn btn-outline-danger" name="borrar"><i class="fa fa-trash-o">Borrar</i></button>
    </form>
{% endblock %}